<div ng-controller="foodCtrl" >

            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">HomeChef</a>
                </div>
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Order now</a></li>
                  <li><a href="#">About us</a></li>
                </ul>
                <ul class="nav navbar-nav" style="float: right;">
                    <li><a href="" class="navbar-link basket" ng-click="showCartSummary()">Basket <span class="basket-count">{{basket.length}}</span> </a></li>
                </ul>
              </div>
            </nav>

            <div class="main-content">
                <div ng-repeat="item in items" class="col-md-3 col-xs-6" style="margin-top: 20px">
                    <div class="food-thumb">
                        <span class="item-price">&#8377;{{item.price}}</span>
                        <img src="{{item.url}}" width="100%" height="200px">
                        <div class="item-description">
                            <span class="food-title">{{item.title}}</span>
                            <span class="food-detail">Some description for the food item</span>        
                        </div>
                        <button class="add-item" ng-click="addToBasket(item)">Add to basket</button>
                    </div>
                </div>
            </div>

        </div>